@model SocialMedia.ViewModels.EditProfileViewModel
@{
    ViewData["Title"] = "Edit Profile Page";
    Layout = "~/Views/Shared/_LayoutNavbarOnly.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>

<body>
    <div class="headerEdit">
        <a asp-action="Post" asp-controller="Profile">
            <img src="~/src/images/Backicon.svg">
        </a>
        <h1>Edit profile</h1>
    </div>

    <div class="containerEdit">
        <div id="modalImgBg"></div>
        <div id="modalImg">
            <img src="~/src/images/Cancleicon.svg" id="Cancel">
            <label>add your image</label>
            <input type="text" asp-for='Image' />
            <button id="Upload">upload</button>
        </div>
        <div class="all-img"><img
                src="@Model.Image"
                alt="proflie" class="img1">
            <a class="imgEdit" id="Edit">
                <img src="~/src/images/AddPhotoIcon.svg" class="img2">
            </a>
        </div>


        <div class="boxEdit">
            <form asp-action="Edit" asp-controller="User" method="Post" enctype="multipart/form-data">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="Form">

                    <label>full name</label>
                    <input type="text" asp-for='Name' />
                    <span asp-validation-for='Name' class='invalid'></span>

                    <label>username</label>
                    <input type="text" asp-for='Username' />
                    <span asp-validation-for='Username' class='invalid'></span>


                    <label>email</label>
                    <input type="email" asp-for='Email' />
                    <span asp-validation-for='Email' class='invalid'></span>

                </div>
                <div class="saveEdit">
                    <button type="submit">save</button>
                </div>
            </form>
        </div>
    </div>

    <script src="~/lib/addImg.js"></script>
</body>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#Upload").click(function (event) {
                event.preventDefault(); // Prevent the default form submission

                var formData = {
                    Image: $('input[name="Image"]').val()
                };

                // Basic validation example
                if (!formData.Image ) {
                    alert("Fill in all required fields.");
                    return; // Exit the function to prevent sending the request
                }
                console.log(formData); // Log the form data to the
                

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("EditImage", "User")', // Modify with your correct URL
                    contentType: "application/json",
                    data: JSON.stringify(formData),
                    success: function (response) {
                        alert("Image uploaded successfully.");
                        window.location.href = '@Url.Action("Post", "Profile")'; // Modify as needed
                    },
                    error: function (error) {
                        console.log(error);
                        alert("There was an error processing your request.");
                    }
                }); 
            });
        });
    </script>
}