@model SocialMedia.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>

<body>
    <div class="post">
        <div class="containerPost">
            <h1>ลิงกินก้วย</h1>
            <div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/DateProfileIcon.svg")" class="icon">
                    <p>FEB 23, 2024</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/TimeProfileIcon.svg")" class="icon">
                    <p>21:00 - 23:59, KMITL</p>
                </div>
                <div class="info">
                    <img src="@Url.Content("~/src/images/PeopleProfileIcon.svg")" class="icon">
                    <p>8/10</p>
                </div>
                <div class="profilePost">
                    <div class="info">
                    <img src="https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg"
                        alt="proflie" class="imgProfile">
                    <p>ppookkiesbubu</p>
                    </div>
                    <div class="status">
                        <p>Status: open</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>