@model SocialMedia.ViewModels.GroupBlogModel
@section css {
    <link rel="stylesheet" href="~/css/group.css">
}

@{
    ViewData["Title"] = "Group Page";
    Layout = "~/Views/Shared/_LayoutGroup.cshtml";
}
<div>
    <a asp-action="index" asp-controller="Group">
        <img src="~/src/images/Backicon.svg" class="back">
    </a>
    <div class="box">
        <div class="title">
            <img src="@ViewData["UserImg"]"
                class="profile">
            <input placeholder="Group Name" class="name">
        </div>
        <textarea  placeholder="description..." class="description"></textarea>

        <div class="boxinput"><img src="~/src/images/Imgicon.svg">
            <input placeholder="Add some photos" class="photo">
        </div>
        <div class="btn">
            <button>create group</button>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function() {
            $(".btn button").click(function(event) {
                event.preventDefault(); // Prevent the default form submission
                var formData = {
                    Groupname: document.querySelector('.name').value,
                    Description: document.querySelector('.description').value,
                    Image:document.querySelector('.photo').value  
                };
                // Basic validation example
                if (!formData.Groupname || !formData.Description || !formData.Image) {
                    alert("Groupname,Description and Image are required.");
                    return; // Exit the function to prevent sending the request
                }
                $.ajax({
                    type: "POST",
                    url: '/Group/CreateGroup', // Modify with your correct URL
                    contentType: "application/json",
                    data: JSON.stringify(formData),
                    success: function(response) {
                        if(response.success) {
                            alert("Group created successfully.");
                            // Optionally, redirect or clear form here
                            window.location.href = '@Url.Action("Index", "Group")'; // Adjust controller and action names as necessary
                        } else {
                            alert("Failed to create Group: " + response.message);
                        }
                    },
                    error: function(error) {
                        console.log(error);
                        alert("There was an error processing your request.");
                    }
                });
            });
        });
    </script>
}