@{
    ViewData["Title"] = "Group Page";
}

<head>
    <link rel="stylesheet" href="~/css/group.css" asp-append-version="true">
</head>

<div>
    <div class="header">
        <div class="search">
            <div class="search-bar">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search" id="search-input">
            </div>
            <div class="filter-bar">
                <i class="fa-solid fa-angle-down"></i>
                <input type="text" placeholder="Filter" id="filter-input">
            </div>
        </div>
    </div>
    <div class="container-post">
        <div class="post">
            <div class="card-post">
                <h1 id="section">Party Ganster</h1>
                <p id="section-content"> เป็นกลุ่มที่เราจะนัดเฮฮาสังสรรค์กันทุก ๆ วันที่ขึ้นต้นด้วยตัว t today tomorrow
                    อะหยอกเล่น #ศุกร์เสาร์เหงาได้ไง ชวนดูคอนชวนดื่มหรือชวนอย่างอื่นก็ว่ากันหลังไมค์นะงับอ้วน
                    อะว่าแล้วก็ปายยยยย</p>
                <div class="activity-image">
                    <img src="https://72skybar.com/wp-content/uploads/2023/06/320069658_699189411877610_6606429275967979160_n-1.jpg"
                        alt="activity" id="activity1">
                    <div class="test1">
                        <img src="https://www.wee-interior.com/wp-content/uploads/2019/02/bar_interior4.jpg"
                            alt="activity" id="activity2">
                        <img src="https://miwservices.com/wp-content/uploads/2019/05/9rmjue0ix5r9c0k4.jpg"
                            alt="activity" id="activity3">
                    </div>
                </div>
                <div class="test2">
                    <div class="group-poster">
                        <img src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg" alt="" id="group-poster-img">
                        <span>Chommsrya_</span>
                    </div>
                   
                    <div class="group-of-button">
                        <i class="fa-regular fa-user"></i>
                        <span>18</span>
                        <button id="group-button">join group</button>
                    </div>
                    
                </div>
            </div>

        </div>
        <div class="post">
            <div class="card-post">
                <h1 id="section">Board game</h1>
                <p id="section-content"> เหล้าเบียร์ไม่ยุ่งมุ่งบอร์ดเกมส์ ใครคิดว่าดวงดีดวงเด็ด เงินเหลือไม่รู้ทำอะไรดี มาอยู่กับพวกเราไม่มีผิดหวัง สนุกเร้าใจ กดเข้าร่วม แล้วมาเจอกันได้ พวกเรายินดีต้อนรับเสมอ พร้อมละลายทรัพย์พวกคุณ !</p>
                <div class="activity-image">
                    <img src="https://home.maefahluang.org/images/content/original-1587960995441.jpg"
                        alt="activity" id="activity1">
                    <div class="test1">
                        <img src="https://cdn.apartmenttherapy.info/image/upload/f_jpg,q_auto:eco,c_fill,g_auto,w_1500,ar_4:3/stock%2Fcustom%20stock%2F2022-11-custom-stock%2Fgames-0228-edit"
                            alt="activity" id="activity2">
                        <img src="https://static.wixstatic.com/media/e87dab_feb7631a51dc454eb187747f1da8fed6~mv2.jpeg/v1/fill/w_640,h_844,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e87dab_feb7631a51dc454eb187747f1da8fed6~mv2.jpeg"
                            alt="activity" id="activity3">
                    </div>
                </div>
                <div class="test2">
                    <div class="group-poster">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Hippopotamus_-_04.jpg/1200px-Hippopotamus_-_04.jpg" alt="" id="group-poster-img">
                        <span>OakOak_</span>
                    </div>
                    <div class="group-of-button">
                        <i class="fa-regular fa-user"></i>
                        <span>18</span>
                        <button id="group-button">join group</button>
                    </div>
                </div>
            </div>
            
</div>
    </div>
</div>
</div>

