@model SocialMedia.ViewModels.TableViewModel
@{
    ViewData["Title"] = "Tables";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<h2>Database Tables</h2>

@if (Model.TableNames.Any())
{
    <ul>
        @foreach (var tableName in Model.TableNames)
        {
            <li>@tableName</li>
        }
    </ul>
}
else
{
    <p>No tables found in the database.</p>
}
