@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_LayoutWithoutNavbar.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>


<div class="Container">
    <div class="back">
        <a href="@Url.Action("login", "User")"">
            <img src=" @Url.Content("~/src/images/Backicon.svg")"></a>
        <p>back to log in</p>
    </div>
    <h1 class="Header forgotHeader ">Find your <br>account</h1>
    <form class="Form forgotForm" action="@Url.Action("SentEmail", "User")">
        <img src="@Url.Content("~/src/images/Star.svg")" alt="Star Icon" class="star2">

        <div class="form-group">
            <label>email</label>
            <input type="text" />
        </div>

        <div class="submit">
            <button type="submit">Next</button>

        </div>
    </form>


</div>
