@model SocialMedia.Models.User
@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_LayoutWithoutNavbar.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<div class="Container">
    <h1 class="Header">Create your account</h1>

    <form asp-action="Register" asp-controller="User" method="post">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="Form">

        <label>full name</label>
        <input type="text" asp-for='Name'/>
        <span asp-validation-for='Name' class='invalid'></span>

        <label>username</label>
        <input type="text" asp-for='Username'/>
        <span asp-validation-for='Username' class='invalid'></span>


        <label>email</label>
        <input type="text" asp-for='Email'/>
        <span asp-validation-for='Email' class='invalid'></span>

        <label>password (8+)</label>
        <input type="text" asp-for='Password'/>
        <span asp-validation-for='Password'class='invalid'></span>
        
        <label>confirm password</label>
        <input type="text" asp-for='ConfirmPassword'/>
        <span asp-validation-for='ConfirmPassword' class='invalid'></span>

        <div class="submit">
            <button type="submit" onclick="window.location.href='@Url.Action("login", "User")'">sign up</button>
            <!-- <button type="submit">submit</button> -->
        </div>

    </div>
    </form>
</div>
