@model SocialMedia.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_LayoutWithoutNavbar.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>


<div class="Container">
    <h1 class="Header forgotHeader ">Reset password</h1>
    <form method="post" action="@Url.Action("Login", "User")" class="Form forgotForm">
        <img src="@Url.Content("~/star.png")" alt="Star Icon" class="img2">

        <div class="form-group">
            <label for="Password">new password (8+)</label>
            <input type="text" id="Password" name="Password" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="ConfirmPassword">confirm password</label>
            <input type="text" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required />
        </div>

        <div class="submit">
            <button type="submit" onclick="window.location.href='@Url.Action("SentEmail", "User")'">Next</button>
        </div>
    </form>


</div>
