@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_LayoutWithoutNavbar.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<div class="Container">
    <h1 class="Header forgotHeader ">Check your email !</h1>
    <div class="boxEmail">
        <p>We’ve sent you an email with instructions to <br>reset your password.</p>
    </div>
    <div class="submit">
        <button type="submit" onclick="window.location.href='@Url.Action("login", "User")'">return to log
            in</button>
    </div>
</div>