@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
</head>
<div class="main">
    <div class="header">
        <div class="search">
            <div class="search-bar">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search" id="search-input">
            </div>
            <div class="filter-bar">
                <i class="fa-solid fa-angle-down"></i>
                <input type="text" placeholder="Filter" id="filter-input">
            </div>
        </div>
    </div>
    <a asp-action="Index" asp-controller="Home">
        <img src="~/src/images/Backicon.svg" class="backIcon">
    </a>
    <div class="container-post" style="margin-top:-1rem;">
        <div class="explain-post">
            <div class="threedots">
                <button onclick="dropdown()" class="dropdownBtn"></button>
                <div class="dropdown-content">
                    <a href="">
                        <img src="~/src/images/EditIcon.svg">
                        <p>edit</p>
                    </a>
                    <a id="applications-closed">
                        <img src="~/src/images/applicationClosed.svg">
                        <p>application closed</p>
                    </a>
                    <a id="delete-post">
                        <img src="~/src/images/binIcon.svg">
                        <p>delete post</p>
                    </a>
                </div>
                <div id="applicationsClosed">
                    <p>Are you sure to closed<br>applications for this activity?</p>
                    <button id="btnClosed" onclick="">Application closed</button>
                    <button id="btnCancel">Cancel</button>
                </div>
                <div class="modalBg"></div>
                
            </div>
            <div class="post-detail">
                <div class="post-header" style="margin-left:0rem;width:60rem;">
                    <div class="date">
                        <h3 class="month">FEB</h3>
                        <h3 class="day">26</h3>
                        <h3 class="year">2024</h3>
                    </div>
                    <div class="topic">
                        <h1>เตะบอลกันครับพี่ๆ</h1>
                        <p>18:00 - 20:00, KMITL</p>
                    </div>
                    <div class="status-categories">
                        <div class="status-activity">
                            <p>Status :</p>
                            <p class="state"> Open</p>
                        </div>
                        <p style="position:absolute;right:0;top:1rem;">Categories : Sports, Football</p>
                    </div>
                </div>
                <p>เตะบอลวันอังคารที่ 27 ตอนเย็นที่สนามมอครับ ใครสนใจก็มาร่วมด้ายยย ค่าสนามชั่วโมงละ 1500 บาท เราเล่น 2 ชั่วโมงตกคนละ 200 บาทครับบ มีเพื่อนชวนเพื่อนมาได้โล้ดดด</p>   
            </div>
            <div class="slice"></div>
            <div class="comment">
                <h2>Comment</h2>
            </div>
        </div>
    </div>
</div>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function dropdown() {
//   document.getElementById("myDropdown").classList.toggle("show");
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var dropdownBtn = document.getElementsByClassName("dropdownBtn");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        openDropdown.classList.toggle('show');
        dropdownBtn[i].classList.toggle('focus');
    }
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropdownBtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var dropdownBtn = document.getElementsByClassName("dropdownBtn");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
    //   console.log(dropdowns[i])
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
        dropdownBtn[i].classList.remove('focus');
      }
    }
  }
}
</script>