@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
</head>
<div class="main">
    <div class="header">
        <div class="search">
            <div class="search-bar">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search" id="search-input">
            </div>
            <div class="filter-bar">
                <i class="fa-solid fa-angle-down"></i>
                <input type="text" placeholder="Filter" id="filter-input">
            </div>
        </div>
    </div>
    <a asp-action="Index" asp-controller="Home">
        <img src="~/src/images/Backicon.svg" class="backIcon">
    </a>
    <div class="container-post" style="margin-top:-1rem;">
    
        <div class="explain-post">
            <div class="threedots">
                <button onclick="dropdown()" class="dropdownBtn"></button>
                <div class="dropdown-content">
                    <a href="">
                        <img src="~/src/images/EditIcon.svg">
                        <p>edit</p>
                    </a>
                    <a class="applications-closed">
                        <img src="~/src/images/applicationClosed.svg">
                        <p>application closed</p>
                    </a>
                    <a class="delete-post">
                        <img src="~/src/images/binIcon.svg">
                        <p>delete post</p>
                    </a>
                </div>
            </div>
            <div class="post-detail">
                <div class="post-header" style="margin-left:0rem;width:60rem;">
                    <div class="date">
                        <h3 class="month">FEB</h3>
                        <h3 class="day">26</h3>
                        <h3 class="year">2024</h3>
                    </div>
                    <div class="topic">
                        <h1>เตะบอลกันครับพี่ๆ</h1>
                        <p>18:00 - 20:00, KMITL</p>
                    </div>
                    <div class="status-categories">
                        <div class="status-activity">
                            <p>Status :</p>
                            <p class="state"> Open</p>
                        </div>
                        <p style="position:absolute;right:0;top:1rem;">Categories : Sports, Football</p>
                    </div>
                </div>
                <p>เตะบอลวันอังคารที่ 27 ตอนเย็นที่สนามมอครับ ใครสนใจก็มาร่วมด้ายยย ค่าสนามชั่วโมงละ 1500 บาท เราเล่น 2 ชั่วโมงตกคนละ 200 บาทครับบ มีเพื่อนชวนเพื่อนมาได้โล้ดดด</p>
                <img class="img-activity" src="https://cdn.britannica.com/51/190751-050-147B93F7/soccer-ball-goal.jpg"> 
                <div class="post-bottom">
                    <div class="owner" style="margin:0;">
                        <img src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg"
                            alt="" class="owner-img">
                        <div class="name" style="font-size:18px;align-item:center;gap:-0.5rem">
                            <span>Boom za</span>
                            <div class="time">
                                <img src="~/src/images/globe.svg">
                                <span style="padding-top:0.1rem">15 minutes</span>
                            </div>
                        </div>
                    </div>
                    <div class="action-ep">
                        <div class="likes">
                            <button class="like-button">
                                <img src="@Url.Content("~/src/images/LikeIcon.svg")" class="icon" >
                            </button>
                            <span class="likeCount">2
                                <div class="dropdownLike" style="right:45%">
                                        <div class="member">
                                            <img src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg">
                                                <h5>oakoakoak</h5>
                                        </div>
                                </div>
                            </span>
                        </div>
                        <div class="participant">
                            <img src="@Url.Content("~/src/images/People_in_postcardIcon.svg")" class="icon"/>
                            <div class="participantCount">
                                <span class="joined">2 </span>
                                <span class="max"> / 10</span>
                                    <div class="dropdownParticipant" style="right:25%;">
                                            <div class="member">
                                                <img src="https://www.thaihealth.or.th/data/content/2019/01/46598/cms/newscms_thaihealth_c_acdiprsvxz24.jpg">
                                                <h5>oakoakoak</h5>
                                            </div>
                                    </div>
                            </div>
                        </div>
                        <button class="join-button" style="margin-left:1rem;">join activity</button>
                    </div>
                </div>  
            </div>
            <div class="slice"></div>
            <div class="comment">
                <h2>Comment</h2>
            </div>
        </div>
    </div>
</div>

<div class="popup">
    <div id="applicationsClosed">
        <p>Are you sure to close <br>the application for this activity?</p>
        <button id="btnClosed" class="accept" onclick="">I'm sure!!!</button>
        <button id="btnCC" class="cancel">Cancel</button>
    </div>
    <div id="delete">
        <p>Are you sure to delete <br>this activity?</p>
        <button id="btnDelete" class="accept" onclick="">Delete post</button>
        <button id="btnCancle" class="cancel">Cancel</button>
    </div>
</div>
<div class="modalBg"></div>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function dropdown() {
//   document.getElementById("myDropdown").classList.toggle("show");
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var dropdownBtn = document.getElementsByClassName("dropdownBtn");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        openDropdown.classList.toggle('show');
        dropdownBtn[i].classList.toggle('focus');
    }
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropdownBtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var dropdownBtn = document.getElementsByClassName("dropdownBtn");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
    //   console.log(dropdowns[i])
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
        dropdownBtn[i].classList.remove('focus');
      }
    }
  }
}
</script>
<script src="~/lib/ApplicationClosed.js"></script>
<script src="~/lib/deletePost.js"></script>