/* _content/Social-Media/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */





.box-shadow[b-j1p2gcm9ch] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


.footer[b-j1p2gcm9ch] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
