.group-element {
  padding-bottom: 60px;
}
/* a {
  text-decoration: none;
} */

.header {
  display: flex;
  align-items: center;
  height: 125px;
  border-bottom: 1px solid grey;
}
.search {
  display: flex;
  width: 100%;
  margin-left: 20px;
  gap: 1.5rem;
}
.search i {
  margin-left: 20px;
}
.search-bar {
  display: flex;
  align-items: center;
  height: 2.7rem;
  width: 60%;
  border: 2px solid #000000;
  border-radius: 30px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  gap: 1rem;
}
.search-bar input {
  outline: none;
  border: none;
  width: 90%;
}

.filter-bar {
  display: flex;
  align-items: center;
  height: 2.7rem;
  width: 20%;
  border: 2px solid #000000;
  border-radius: 30px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  gap: 1rem;
}
.filter-bar input {
  outline: none;
  border: none;
  width: 60%;
}

.container-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#section {
  font-size: 24px;
}

.group {
  border: 2px solid #000000;
  border-radius: 30px;
  width: 735px;
  height: 469px;
  margin-top: 33px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}
.group:hover {
  transform: scale(1.05);
}
.group p {
  font-size: 13px;
  color: #9e9e9e;
}

.card-group {
  margin-left: 42px;
  margin-right: 42px;
  height: fit-content;
}
.description {
  margin: 0.5rem 0 0 0.25rem;
  width: 40rem;
}

.description p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.activity-image {
  display: flex;
  width: 100%;
  height: 300px;
}
.test1 {
  margin-left: 5px;
}
#activity1 {
  width: 100%;
  object-fit: cover;
}
.join-button {
  font-size: 16px;
  font-weight: 600;
  width: 10rem;
  height: 2.2rem;
  border-radius: 3rem;
  background-color: #fbca63;
  border: 0;
}
.joined-button {
  font-size: 16px;
  font-weight: 600;
  width: 10rem;
  height: 2.2rem;
  border-radius: 3rem;
  background-color: #ffffff;
  border: solid 2px #000000;
}

.participantCount{
  display: block;
  /* background-color: #F77C7E; */
  /* justify-items: center;
  align-items: center; */
}
.dropdownParticipant {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 10rem;
  right: 1.3rem;
  border-radius: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.participantCount:hover {
    display: block;
}
.participantCount:hover .dropdownParticipant {
   display: block;
    
}

.joined {
  margin-right: 0.25rem;
}
.joined-button:hover {
background-color: #a2a2a2;
color: white;
transition: 0.3s;


}
.join-button:hover{
  background-color: #F77C7E;
  color: #FFFFFF;
  transition: 0.3s;
}

.participantCount {
  display: block;
  /* background-color: #F77C7E; */
  /* justify-items: center;
  align-items: center; */
}
.dropdownParticipant {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 10rem;
  right: 1.3rem;
  border-radius: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.participantCount:hover {
  display: block;
}
.participantCount:hover .dropdownParticipant {
  display: block;
}

.joined {
  margin-right: 0.25rem;
}
.joined-button:hover {
  background-color: #a2a2a2;
  color: white;
  transition: 0.3s;
}
.join-button:hover {
  background-color: #f77c7e;
  color: #ffffff;
  transition: 0.3s;
}

.test2 {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.group-button {
  color: black;
  font-size: 16px;
  font-weight: medium;
  width: 130px;
  height: 34px;
  border-radius: 27px;
  border: 2px solid black;
  background-color: white;
}

.group-button:hover {
  background-color: #fbca63;
  color: black;
  transition: 0.3s;
}

.group-poster {
  display: flex;
  align-items: center;
  gap: 10px;
}

#group-poster-img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  object-fit: cover;
}
.Recomended-Group {
  height: 360px;
}
.Recomended-Group h2 {
  padding-left: 30px;
}
.Recomended-Group-post a {
  text-decoration: none;
}
.Recomended-Group-post {
  padding: 0px 30px 0px 30px;
  height: 310px;
  display: flex;
  align-items: center;
  gap: 50px;
  overflow-x: auto;
  white-space: nowrap;
}

.Recomended-Group-post::-webkit-scrollbar{
    width: 3px;
    height: 3px;
    background-color: rgb(211, 207, 207);
}
.Recomended-Group-post::-webkit-scrollbar-thumb {
  background-color: rgb(185, 183, 183);
}
.Recomended-Group-post::-webkit-scrollbar-thumb:hover {
  background-color: rgb(94, 93, 93);
}
.Recomended-Group-post a:hover {
  text-decoration: underline;
}
.card-Recomended-Group {
  width: 320px;
  height: 266px;
  border: 2px solid;
  border-radius: 30px;
  transition: all 0.5s;
}
.card-Recomended-Group:hover {
  transform: scale(1.05);
}
#recomended-Group-Image {
  width: 100%;
  height: 181px;
  border-radius: 30px 30px 0px 0px;
  object-fit: cover;
}
.card-Recomended-Group h3 {
  margin: 0;
  padding: 0;
}

.contents {
  margin: 0px 10px 0px 10px;
}
.contents-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.Recomended-Group-poster {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pop-up {
  background-color: #ffff;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  border: 1px solid;
  width: 271px;
  height: 475px;
  border-radius: 42px;
  z-index: 10;
}
.group-members::-webkit-scrollbar {
  display: none;
}
.pop-up-background {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 10%;
  overflow-y: hidden;
}
.popup-backdrop {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 9; /* Ensure backdrop appears beneath modal */
}
.group-members {
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  overflow-y: scroll;
}

.members {
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.members img {
  margin-left: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}
#amountofmembers {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  background: none;
  border: none;
}
#amountofmembers:hover {
  cursor: pointer;
}
.header-popup {
  background-color: #ffff;
  border-radius: 42px 42px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: end;
  position: sticky;
  top: -1px;
}
#cancle {
  margin-left: 40px;
  margin-right: 20px;
}
#cancle:hover {
  cursor: pointer;
}

/* create-post */
.title {
  display: flex;
  gap: 10px;
  
}

.profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.back {
  width: 44px;
  margin: 30px 0px 0px 30px;
}
.box {
  border: solid 3px;
  margin: 0px 50px 0px;
  border-radius: 40px;
  padding: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.name {
  margin-left: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  font-size: 30px;
  font-weight: bold;
  width: 70%;
}
textarea {
  min-height: 50vh;
  min-width: 50vw;
  border: none;
  outline: none;
  margin-top: 20px;
  font-size: 20px;
}
.details {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 30px;
}

.photo {
  outline: none;
  border: none;
}

.boxinput {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
}
.btn {
  display: flex;
  justify-content: end;
  width: 100%;
}
button {
  font-family: "Poppins", sans-serif;
  width: 250px;
  height: 70px;
  background-color: #fbca63;
  border: none;
  border-radius: 40px;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  background-color: #f77c7e;
  color: #ffff;
  transition: 0.3s;

}
button:not(#btnCancel):hover  {
  transition: 0.3s;
}

.create-post-button {
  background-color: #fbca63;
  border-radius: 50%;
  position: fixed;
  bottom: 3%;
  right: 22%;
  z-index: 1;
  cursor: pointer;
}

.create-post-button:hover {
  cursor: pointer;
  border: solid 3px black;
}

/* recommend group */
.Recomended-Group-header {
  font-size: 20px;
  font-weight: 600;
  gap: 5px;
  display: flex;
  align-items: center;
}
.Recomended-Group-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.container-rec {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.post-rec {
  border: 2px solid #000000;
  border-radius: 30px;
  width: 735px;
  height: 469px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}
.post-rec:hover {
  transform: scale(1.05);
}
.post-rec p {
  font-size: 13px;
  color: #9e9e9e;
}

.card-post-rec {
  margin-left: 42px;
  margin-right: 42px;
  height: fit-content;
}
.group-rec-button {
  font-size: 16px;
  font-weight: medium;
  width: 146px;
  height: 34px;
  border-radius: 27px;
  background-color: #fbca63;
}

#group-rec-button:hover {
  background-color: #f77c7e;
  color: #ffff;
  transition: 0.3s;
}

#section-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* detaills */
.delete-group-pop-up p{
    font-size: 26px;
    margin:1.75rem 0 0 0;
}

#delete {
  visibility: hidden;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 19rem;
  background-color: white;
  border: solid 2px;
  border-radius: 30px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  gap: 2rem;
}

.accept{
  font-size: 20px;
  font-weight: 600;
  width: 15rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: #fbca63;
  border: 0;
}
.accept:hover{
  background-color: #F77C7E;
  color:#FFFFFF;
  transition: 0.3s;
}
.cancel{
  font-size: 20px;
  font-weight: 600;
  width: 15rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: #d6d6d6;
  border: 0;
}
.cancel:hover{
  background-color: white;
  border: 2px solid black;
}

.threedots{
  position: absolute;
  display: flex;
  justify-content: end;
  right: 3rem;
  

}
.dropdownBtn{
  border-radius: 100%;
  cursor: pointer;
  height: 1.7rem;
  width: 1.7rem;
  background-image: url('../src/images/dots.svg');
  background-size:cover;
  border: none;
}
.dropdownBtn:hover {
  outline: rgb(186, 186, 186) solid 2px;
}

.focus {
  background-image: url('../src/images/ExitIcon.svg');
  background-size:cover;
}

.show {
  display: block;
}

.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #f9f9f9;
  width: 20rem;
  overflow: auto;
  border-radius: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  margin : 1rem;
  height: fit-content;
  border-radius: 2rem;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.dropdown-content p {
 margin: 0;
 font-size: 20px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.addPostIcon {
  background-color: #fbca63;
  padding: 10px 13px;
  border-radius: 50%;
  position: fixed;
  bottom: 3%;
  right: 22%;
  z-index: 1;
}
.addPostIcon:hover {
  border: solid 2px;
}

.Group-details-header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  gap: 5px;
  display: flex;
  align-items: center;
}
.back-recommend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.Group-details {
  margin: 0px 30px 0px 30px;
}
.events h2 {
  font-size: 30px;
  margin-left: 30px;
}
.container-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.post {
  transition: all 0.5s;
  border: 2px solid #000000;
  border-radius: 1.75rem;
  width: 60rem;
  height: 19rem;
  margin-top: 2.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
}
.post:hover {
  transform: scale(1.05);
}

.post p {
  font-size: 18px;
  color: black;
  margin-left: 1rem;
  margin-top: 0rem;
}
.card-post {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  height: fit-content;
}
#activity {
  width: 17rem;
  height: 17rem;
  object-fit: cover;
  border-radius: 1.75rem;
}
.post-header {
  display: flex;
  margin-left: 1rem;
}
.date {
  width: 5rem;
  height: 6rem;
  background-color: #f77c7e;
  border-radius: 1.25rem;
}
.date h3 {
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}
#month {
  font-size: 18px;
  margin-top: 0.25rem;
  margin-bottom: 0rem;
}
#day {
  font-size: 36px;
  margin-top: -0.75rem;
  margin-bottom: 0;
}
#year {
  font-size: 18px;
  margin-top: -0.75rem;
}
.topic h1 {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}
.owner {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 0.5rem;
  font-weight: 600;
}
#owner-profile {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 20rem;
}
.action {
  display: flex;
  justify-content: flex-end;
  /* gap: 1rem; */
  align-items: center;
  /* background-color: #F77C7E; */
}
#btn {
  font-size: 16px;
  font-weight: 600;
  width: 10rem;
  height: 2.2rem;
  border-radius: 3rem;
  background-color: #fbca63;
  border: 0;
}
.likes {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.likeCount {
  width: 2rem;
  border: none;
  /* background-color: pink; */
}

.dropdownLike {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 10rem;
  right: 10%;
  border-radius: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.likeCount:hover .dropdownLike {
  display: block;
}

.like-button {
  width: 2rem;
  align-items: center;
  border: none;
  background-color: white;
}
.participant {
  display: flex;
  /* background-color: #fbca63; */
  gap: 0.5rem;
}

@media (max-width: 1200px) {
  .create-post-button {
    bottom: 3%;
    right: 3%;
  }
  .addPostIcon {
    bottom: 3%;
    right: 3%;
  }
}
@media (max-width: 768px) {
  .create-post-button {
    bottom: 8%;
  }
  .addPostIcon {
    bottom: 8%;
  }
}

@media (max-width: 917px) {
  .post-rec {
    width: 560px;
  }
} 

@media (max-width: 932px) {
  .group {
    width: 590px;
  }
}