/* profile layout part */
.bodyProfile {
  font-family: "Poppins", sans-serif;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 15% auto;
  min-height: 100vh;
}
.headerProfile {
  display: flex;
  width: auto;
  height: 100px;
  border: solid 2px;
}
.containerProfile {
  /* background-color: #fbca63; */
  display: grid;
  grid-template-rows: 30% auto;
}
.top {
  border-bottom: solid 1px grey;
  display: grid;
  grid-template-rows: 80% auto;
}
.profilee {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profilee .left {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.left img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 30px 30px 0px 50px;
}
.left h1 {
  font-size: 44px;
  margin: 0;
}
.left h2 {
  margin: 0;
  color: grey;
  font-weight: 500;
  font-size: larger;
}
.profilee button {
  margin-right: 50px;
}

.option {
  display: flex;
  margin: 0 0 30px 50px;
  gap: 80px;
}
.option a {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

button {
  font-family: "Poppins", sans-serif;
  width: 200px;
  height: 70px;
  background-color: #fbca63;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 600;
}
button:hover {
  transition: 0.3s;
  background-color: #f77c7e;
}

/* post */
.post {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 30px 0;
}
.containerPost {
  width: 420px;
  height: 230px;
  border: solid 3px;
  border-radius: 30px;
  margin: 30px 0 0 0px;
  padding: 30px;
  transition: all 0.5s;
}

.containerPost:hover {
  transform: scale(1.05);
}
.info {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.containerPost h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: lighter;
}
.info icon {
  height: fit-content;
}
.info p {
  height: fit-content;
  margin: 0;
  color: grey;
}
.imgProfile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profilePost {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.profilePost .info {
  align-items: center;
}
.status p {
  color: #f77c7e;
  font-weight: bold;
}

/* edit profile */
.headerEdit {
  display: flex;
  font-size: 24px;
  margin: 10px 0 0 50px;
  gap: 20px;
}
.headerEdit h1 {
  font-weight: 600;
}
.headerEdit a {
  display: flex;
  align-items: center;
}
.containerEdit {
  display: flex;
  gap: 50px;
  margin: 20px 0 0 10%;
}
.all-img {
  position: relative;
  height: fit-content;
}
.img1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}
.imgEdit {
  background-color: #fbca63;
  height: 31px;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.boxEdit {
  width: 800px;
  height: 600px;
  border: solid 3px;
  border-radius: 60px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 40px;
}
.saveEdit {
  display: flex;
  justify-content: end;
  padding-right: 10%;
}

label {
  font-size: 20px;
  font-weight: 600;
}

input {
  background-color: white;
  border: solid 2px;
  border-radius: 10px;
  height: 50px;
  width: 98%;
  padding: 0 0 0 15px;
  margin: 10px 0 20px;
}
