/* profile layout part */
.top {
  border-bottom: solid 1px grey;
  position: relative;
}
.left {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin: 30px 30px 0px 50px;
  gap: 20px;
}
.left img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.left h1 {
  font-size: 44px;
  margin: 0;
}
.left h2 {
  margin: 0;
  color: grey;
  font-weight: 500;
  font-size: larger;
}
.top button {
  margin-right: 50px;
  position: absolute;
  right: 0;
  top: 30%;
}
button {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  background-color: #fbca63;
  border: none;
  border-radius: 40px;
  font-size: 30px;
  font-weight: 600;
}
button:not(#btnCancel):hover {
  transition: 0.3s;
  background-color: #f77c7e;
}

.option {
  display: flex;
  margin: 30px 0 0px 50px;
  gap: 80px;
}
.option a {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.option .select {
  color: #fbca63;
}

.selectBox {
  width: fit-content;
}
.select .underline {
  width: 100%;
  background-color: #fbca63;
  height: 10px;
  border-radius: 10px;
  margin-top: 5px;
  transition: 0.3s ease;
}

/* post */

.post {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 2%;
  margin: 0 0 0 3%;
}
.addPostIcon {
  background-color: #fbca63;
  padding: 10px 13px;
  border-radius: 50%;
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 1;
}
.addPostIcon:hover {
  border: solid 2px;
}
.containerPost {
  position: relative;
  width: 27%;
  min-width: 350px;
  /* height: 60%;
   */
  border: solid 3px;
  border-radius: 30px;
  padding: 20px;
  margin-top: 3%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.containerPost:hover {
  transform: scale(1.05);
}
.info {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.containerPost h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: lighter;
}
.info icon {
  height: fit-content;
}
.info p {
  height: fit-content;
  margin: 0;
  color: grey;
}
.imgProfile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profilePost {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.profilePost .info {
  align-items: center;
}
.status {
  color: #f77c7e;
  font-weight: bold;
}

/* edit profile */
.headerEdit {
  display: flex;
  font-size: 24px;
  margin: 10px 0 0 50px;
  gap: 20px;
}
.headerEdit h1 {
  font-weight: 600;
}
.headerEdit a {
  display: flex;
  align-items: center;
}
.containerEdit {
  display: flex;
  gap: 50px;
  margin: 20px 0 0 10%;
}
.all-img {
  position: relative;
  height: fit-content;
}
.img1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}
.imgEdit {
  background-color: #fbca63;
  height: 31px;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.boxEdit {
  width: 40vw;
  height: 60vh;
  border: solid 3px;
  border-radius: 60px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 40px;
}
.saveEdit {
  display: flex;
  justify-content: end;
  padding-right: 10%;
}

label {
  font-size: 20px;
  font-weight: 600;
}

input {
  background-color: white;
  border: solid 2px;
  border-radius: 10px;
  height: 50px;
  width: 95%;
  padding: 0 0 0 15px;
  margin: 10px 0 20px;
}

@media (max-width: 1200px) {
  .left {
    align-items: center;
    margin: 20px;
  }
  .left img {
    width: 80px;
    height: 80px;
  }
  .left h1 {
    font-size: 25px;
  }
  .left h2 {
    font-size: medium;
  }
  .top button {
    font-size: medium;
  }
  .option a {
    font-size: 20px;
  }
  .post {
    gap: 1%;
  }
  .containerEdit {
    margin: 20px 0 0 5%;
  }
  .img1 {
    width: 150px;
    height: 150px;
  }
  .saveEdit {
    margin-top: 2%;
  }
}
@media (max-width: 1024px) {
  .post {
    justify-content: center;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .post {
    margin-bottom: 60px;
  }
  .boxEdit {
    height: 55vh;
  }
  input {
    height: 40px;
  }
  .headerEdit {
    font-size: 20px;
  }
  .addPostIcon {
    bottom: 8%;
  }
  .addPostIcon img {
    width: 30px;
  }
}
