html {
  font-size: 16px;
  position: fixed;
  overflow-y: scroll;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
}

textarea::placeholder {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 65%;
  height: 100vh;
  margin: 0 0 0 15%;
  padding: 0;
}

.containerNavbarOnly {
  width: 85%;
  height: 100vh;
  margin: 0 0 0 15%;
}

.sidebar {
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #53475b;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
.menu ul {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  list-style: none;
  width: 100%;
  padding: 0;
}
.menu li {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20%;
  height: 80px;
  cursor: pointer;
}
ul .line {
  width: 10px;
  height: 100%;
  background-color: #fbca63;
  position: absolute;
  right: 0;
  border-radius: 10px;
}

.none {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.current {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #fbca63;
}

.icon {
  margin-right: 10px;
}

.Blog {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -7px 0px 10px 1px rgba(0, 0, 0, 0.1);
  background-color: #fbca63;
}

.myprofile {
  display: flex;
  width: 100%;
  height: 125px;
  align-items: center;
  border-bottom: 1px solid grey;
}

.allprofile {
  display: flex;
  font-size: medium;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.allprofile img {
  border-radius: 50%;
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.allprofile p {
  font-size: 25px;
  font-weight: 600;
  margin: 0px;
}
.group-of-button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.myactivity {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myactivity h1 {
  /* font-size: 25px; */
  align-self: flex-start;
  margin: 5% 0 5% 5%;
}
.containerPost {
  position: relative;
  width: 80%;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  margin-top: 3%;
}

.containerPost:hover {
  border: solid 2px;
}
.info {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
.containerPost h1 {
  margin: 0 0 5px 0;
  font-size: 25px;
  font-weight: 600;
}
.info icon {
  height: fit-content;
}
.info p {
  height: fit-content;
  margin: 0;
  color: grey;
  font-size: 14px;
}
.imgProfile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.profilePost {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.profilePost .info {
  align-items: center;
}
.status {
  color: #f77c7e;
  font-weight: 600;
  font-size: 12px;
}
.seeAll {
  margin-top: 10%;
  color: #7e6532;
  font-weight: 600;
  padding-bottom: -0.01rem;
  text-underline-offset: 0.15rem;
}

/* logout */
#logout {
  /* display: none; */
  visibility: hidden;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 350px;
  height: 280px;
  background-color: white;
  border: solid 2px;
  border-radius: 30px;
  z-index: 10;
}
.modalBg {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
#logout h1 {
  font-size: 24px;
  margin: 20px 0 0 0;
}
#logout p {
  font-size: 20px;
  margin-top: 5px;
}
#logout button {
  width: 90%;
  font-size: 20px;
  height: unset;
  /* padding: 10px 0; */
  padding: 10px 20px;
  margin-bottom: 4%;
  border: none;
  border-radius: 40px;
  font-weight: 600;
}
#btnLogout {
  font-family: "Poppins", sans-serif;
  background-color: #fbca63;
}
#btnLogout:hover {
  transition: 0.3s;
  background-color: #f77c7e;
}
#btnCancel {
  background-color: #d9d9d9;
}
#btnCancel:hover {
  background-color: white;
  border: solid 2px;
}
@media (max-width: 1400px) {
  .allprofile p{
    font-size: 21px;
  }
  .allprofile img{
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 1200px) {
  .sidebar {
    height: 100vh;
  }
  .Blog {
    display: none;
  }
  .labelNav {
    display: none;
  }
  .menu li {
    margin: 0;
    justify-content: center;
  }
  .container {
    width: 85%;
  }
  /* .profilePost {
    display: flex;
    flex-direction: column;
  } */
}

@media (max-width: 768px) {
  body {
    width: 100vw;
    flex-direction: column-reverse;
  }
  .sidebar {
    height: 60px;
    width: 100%;
    bottom: 0;
    top: unset;
    margin-top: 60px;
    z-index: 1;
  }
  .menu {
    height: 100%;
  }
  .menu ul {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    height: 100%;
    margin-bottom: 0;
  }
  .menu li {
    justify-content: center;
    margin: 15px 0 0;
    height: fit-content;
    width: 80px;
  }
  ul .line {
    width: 100%;
    height: 10px;
    top: -15px;
  }
  .container {
    overflow-y: scroll;
    width: 100%;
    margin: 0 0 60px 0;
  }
  .containerNavbarOnly {
    overflow-y: scroll;
    width: 100%;
    margin: 0;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
  }
}
