html {
  font-size: 14px;
  position: fixed;
  overflow-y: scroll;
}

html {
  /* position: relative;   */
  min-height: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  /* display: grid; */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  /* grid-template-columns: 15% auto 17%; */
  display: flex;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
}

textarea::placeholder {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 68%;
  height: 100vh;
  margin: 0 0 0 15%;
  padding: 0;
}

.containerNavbarOnly {
  width: 85%;
  height: 100vh;
  margin: 0 0 0 15%;
}

.sidebar {
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;

  background-color: #53475b;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
.menu ul {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  list-style: none;
  width: 100%;
  padding: 0;
}
.menu li {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20%;
  height: 80px;
}
ul .line {
  width: 10px;
  height: 100%;
  background-color: #fbca63;
  position: absolute;
  right: 0;
  border-radius: 10px;
}

.none {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.current {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #fbca63;
}

.icon {
  margin-right: 10px;
}

.Blog {
  width: 17%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -7px 0px 10px 1px rgba(0, 0, 0, 0.1);
  background-color: #fbca63;
}

.myprofile {
  display: flex;
  width: 100%;
  height: 125px;
  align-items: center;
  border-bottom: 1px solid grey;
}

.allprofile {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}
.allprofile img {
  border-radius: 50%;
  object-fit: fill;
  width: 60px;
  height: 60px;
}

.group-of-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .sidebar {
    height: 100vh;
  }
  .Blog {
    display: none;
  }
  .labelNav {
    display: none;
  }
  .menu li {
    margin: 0;
    justify-content: center;
  }
  .container {
    width: 85%;
  }
}

@media (max-width: 768px) {
  body {
    width: 100vw;
    flex-direction: column-reverse;
  }
  .sidebar {
    height: 60px;
    width: 100%;
    bottom: 0;
    top: unset;
  }
  .menu {
    height: 100%;
  }
  .menu ul {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    height: 100%;
    margin-bottom: 0;
  }
  .menu li {
    justify-content: center;
    margin: 15px 0 0;
    height: fit-content;
    width: 80px;
  }
  ul .line {
    width: 100%;
    height: 10px;
    top: -15px;
  }
  .container {
    width: 100%;
    margin: 0 0 60px 0;
  }
  .containerNavbarOnly {
    overflow-y: scroll;
    width: 100%;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    /* margin: 0 0 60px 0; */
  }
}